body {background-color: rgb(236, 236, 236); padding: 20px; font-size: 1rem;
  font-weight: 400; letter-spacing: .005em; line-height: 1.5rem;
  font-family: Roboto, Cordia New, "Microsoft Sans Serif", Utsaah, Devanagari MT, Nirmala UI, Latha; color: black;}
h1, h2, h3   {color: rgb(54, 54, 54);}

details {
    user-select: none;
  } */
  
  details>summary span.icon {
    width: 24px;
    height: 24px;
    transition: all 0.3s;
    margin-left: auto;
  }
   
  details[open] summary span.icon {
    transform: rotate(180deg);
  }
  
  /* summary {
    display: flex;
    cursor: pointer;
  } */
  
  summary::-webkit-details-marker {
    display: none;
  }

  #leiamais {display: none;}

  .texto-completo {
    display: none; /* Inicialmente, o texto completo está escondido */
}

.button1 {
  background-color: none;
  border: none;
  font-size: 16px;
}
